/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #430271;
}
.navbar .links {
  margin-left: auto;
}

.home-button {
  color: white;
  background-color: #a33314d9;
  border-radius: 8px;
}

.new-testament {
  color: white;
  background-color: #003f0f;
  border-radius: 8px;
}

.old-testament {
  color: white;
  background-color: #013961;
  border-radius: 8px;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #d69509;
}
.content h1 {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

/* book previews / list */
.book-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.book-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.book-preview h2 {
  font-size: 20px;
  color: #1d50a7;
  margin-bottom: 8px;
}

.book-preview a {
  text-decoration: none;
  font-size: 20px;
  color: #1d50a7;
  margin-bottom: 8px;
}

/* book details page */
.book-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.book-details div {
  margin: 20px 0;
}
.book-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new book form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
